body {
    padding: 1rem;
    background-image: url("bgimage.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }
    .para {
    color: antiquewhite;
    font-family: '"Palatino Linotype", "serif"';
    font-size: 4;
    }
    img {
    border-radius: 30%;
    }
    .styled-table {
    color: antiquewhite;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 4; 
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    }